.hero {
    background: url('hero-bg.jpg') no-repeat center center/cover;
    color: rgb(250, 247, 247);
    padding: 4rem 0;
    
     z-index: 999;
    text-align: center;
    
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .hero .btn-primary {
    font-size: 1.2rem;
  }
  
