.services {
    background-color: #f4f4f4;
    padding: 3rem 0;
    text-align: center;
    color: black;
  }
  
  .services-container {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
  }
  
  .service-item {
    flex: 1;
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .service-item h3 {
    margin-bottom: 1rem;
    color: #333;
    font-size: calc(0.9rem + .6vw);
    font-weight: bold;
  }
  