.navbar {
    background-color: #1f1f1f;
    color: white;
    padding: 1rem 0;
  }
  
  .navbar .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-link{
    display: flex;
    gap: 50px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-left: auto;
  }
  
  .nav-links a {
    color: rgb(223, 209, 209);
    text-decoration: none;
  }
  .nav-links a:hover {
    color: rgb(153, 152, 162);
    text-decoration: none;
  }
  
  .login-btn {
    background-color: #f57c00;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-btn:hover {
    background-color: #ff9800;
  }
  