/* Login Page Styling */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .login-form {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
  }
  
  .login-form h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #333;
  }
  
  .input-group {
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  .input-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .error-message {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  
  .btn-primary {
    background-color: #f57c00;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    /* width: 100%; */
    margin-top: 1rem;
  }
  
  .btn-primary:hover {
    background-color: #ff9800;
  }
  
  .forgot-password {
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  
  .signup-link {
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
  